*{
    background-color: rgb(153, 185, 202);
    margin: 0;
    padding: 0;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.bgImg{
    position: absolute;
    top:50%;
    left:50%;
    height: 20rem;
    transform:translate(-50%,-70%);
}

.btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: all 0.3s linear;
}

.sidebar_menu {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255,255, 0.5);
    transition: all 0.3s linear;  
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two {
    color: grey;
    font-size: 25 px;
    line-height: 60px;
    position: absolute;
    left: 200px;
    opacity: 0;
    transition: all 0.3s linear;
}
.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu i {
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i, a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.btn_one i:hover {
    font-size: 40px;
}

.btn_two i:hover {
    font-size: 30px;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.2);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one i {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two {
    opacity: 1;
}
.photo {
    background: url("logo-removebg-preview.png");
}
 
.feedback{
    position: absolute;
    top: 800px;
    left: 630px;
    background-color: antiquewhite;
    border-radius: 11px;
    padding-left: 8px;
}

.Search{
    background-color: antiquewhite;
    position: absolute;    
    left: 600px;
    top: 490px;
    border-radius: 20px;
    padding-left: 8px;
}
#submit{
    left: 800px;
    top: 479px;
    margin: 10px 10px;
    padding: 2px 12px;
    border-radius: 20px;
    background-color: antiquewhite;
    cursor: pointer;
    font-family: 'Bree Serif', cursive;
}

.logo {
    padding: 0px 20px;
}